body {
  font-family: 'Times New Roman', Times, serif;
}

h1 { 
  font-size: 38px;
  color: #ff0000;
}

h2, h4 {
  font-size: 24px;
}

h3 {
  font-size:18px;
}
.bottom-corner {
  position: absolute;
  bottom: 20px;
}
